<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ImportLightAd.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    
    <!-- 期次Code: yyyy-MM-dd 导入指定期次的数据：支持yyyy-MM-dd,yyyy-MM-dd, yyyy-MM-dd~yyyy-MM-dd时间断方式-->
    <add key="PeriodRange" value=""/>
  </appSettings>
  <connectionStrings>
    <add name="conStr" connectionString="Data Source=10.26.130.100;Initial Catalog=CBNONE;User ID=sa;Password=cbn@13911007776"/>
    <add name="LightAdSQLite" connectionString="Data Source=D:\Application\YiCai\ImportLightAd\ImportLightAd\LightAd.db"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <applicationSettings>
    <ImportLightAd.Properties.Settings>
      <setting name="ImportLightAd_com_yicai_newsport_NewIWinService"
        serializeAs="String">
        <value>http://newsport.yicai.com:8899/NewIWinService.asmx</value>
      </setting>
    </ImportLightAd.Properties.Settings>
  </applicationSettings>
</configuration>