<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- 方法一配置：
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>

  <log4net debug="true">
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="E:\Application\Log\ModelCollect\Log4netModel\WinForm\LogConfigInAppConfig_Initialize.txt"/>
      <appendTofile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="0"/>
      <maximumfileSize value="2KB"/>
      <layout type="log4net.Layout.PatternLayout">
        <header value="[Header] 开始日志记录 zjk&#13;&#10;" />
        <footer value="[Footer] 结束日志记录 zjk &#13;&#10;" />
        <conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n" />
      </layout>
    </appender>

    <root>
      <priority value="ALL"/>
      <appender-ref ref="RollingLogFileAppender"/>
    </root>
  </log4net>-->
  
  <!-- 方法二配置：
  <appSettings>
    <add key="log4netConfig" value="E:\DeveloperModel\ModelCollect\Log4netModel\Log4netInWinForm\log4net.config"/>
  </appSettings>-->
</configuration>