<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="UserConfig" type="ConfigModel.GetFromResources.UserConfig,ConfigModel"/>
    <section name="PathServiceConfig" type="ConfigModel.GetConfigCollection.PathServiceConfig,ConfigModel"/>
  </configSections>

  <UserConfig firstName="张" lastName="杰" />
  <PathServiceConfig configSource="TestData\PathServiceConfiguration.config" />

</configuration>