<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    
    <!--源数据文件存放的位置-->
    <add key="sourcePath" value="D:\test.txt"/>
    <!--类似 【01 zm Desc】 之间的分隔符 -->
    <add key="nameSplit" value=" "/>
    <!--数据段内容分隔符-->
    <add key="dataSplit" value="|"/>
    <!--导出数据，每个字段对应的长度-->
    <add key ="fieldLength" value="15"/>
  </appSettings>
</configuration>