<?xml version="1.0" encoding="utf-8"?>
<log4net>
  <!-- log4net输出到可滚动文本文件的配置 -->
  <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="E:\Application\Log\ModelCollect\Log4netModel\WebForm\LogConfigInLog4netConfig_Assembly.txt"/>
    <appendToFile value="true"/>
    <maxSizeRollBackups value="10"/>
    <maximumFileSize value="1MB"/>
    <rollingStyle value="Size"/>
    <staticLogFileName value="true"/>
    <layout type="log4net.Layout.PatternLayout">
      <header value="[Header] 日志记录开始 Zjk &#13;&#10;"/>
      <footer value="[Footer] 日志记录结束 Zjk &#13;&#10;"/>
      <ConversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline"/>
    </layout>
  </appender>
  <root>
    <level value="ALL"/>
    <appender-ref ref="RollingLogFileAppender"/>
  </root>
</log4net>